.cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
width: 300px;
height: 500px;
box-shadow: 2px 3px var(--offwhite);
border: 1px solid var(--pink);
margin: 3em;
border-radius: 3%;
display: grid;
grid-template-rows: 0.4fr 0.5fr 0.1fr;
grid-template-columns: 1fr;
color: var(--grey);
}


.card:hover{
  transform: scale(1.1);
  border: 2px solid var(--light-teal);
}

.cardpic {
grid-row: 1/2;
grid-column: 1/2;
margin: 5px;
display: flex;
align-items: center;
justify-content: center;
}

.cardpic img {
  width: 100%;
  height: 100%;
  border-radius: 3%;
}


.porticon {
  font-size: 8em;
  color: var(--light-teal);
  border-radius: 3%;
  margin: 2px;
}

.cardtext {
  width: 95%;
  margin: 5px;
}

.cardtext h4 {
  color: var(--dark-teal);
  font-size: 2em;
  text-align: center;
  margin: 5px;
}

.cardlink {
  grid-row: 3/4;
  grid-column: 1/2;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.cardlinkbutton {
  background-color: var(--pink);
  /* border: solid $b var(--grey); */
  border-radius: 3px;
  font-family: 'Manjari', sans-serif;
  font-size: 1.1em;
  text-align: center;
  margin: 5px;
  padding: 5px 10px;
}


.cardlink a {
  color: white;
  text-decoration: none;
  font-style: bold;
}

.cardlinkbutton:hover {
  background-color: var(--dark-teal)
}
