/* style for footer component  */

footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* container for the footer icons  */
.footericons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2em;
}

/* formatting for each icon */
.footericon {
  font-size: 3em;
  color: var(--pink);
  padding-right: 10px;
}

.footericon a:hover {
  color: var(--light-teal);
}

/* container for copyright message  */
.copyright {
  color: var(--pink);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 1em;
}

@media only screen and (max-width: 999px) {
  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .footericon {
    font-size: 1.5em;
    color: var(--pink);
    padding: 5px;
  }

  .copyright {
    font-size: 12px;
    padding: 5px;
    margin: 10px;
  }
}