@import "./blog.css";

/* container for side bar  */
.sidebarcontainer {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

/* sidebar formatting */
.sidebar {
  opacity: 0.7;
  background-color: var(--pink);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 10px;
  padding: 5px;
  width: 100%;
  font-size: 1.2em;
}

.sidebar a {
  color: var(--dark-teal);
  text-decoration: none;
}

.sidebar a:hover {
  color: var(--light-teal);
}

@media only screen and (max-width: 999px) {

  .sidebar a {
    font-size: 12px;
  }
}