@import "./navbar.css";
@import "./footer.css";
@import "./indexcontent.css";
@import "./card.css";
@import "./aboutcontent.css";
@import "./sidebar.css";
@import "./blog.css";
@import "./contact.css";

@import url('https://fonts.googleapis.com/css?family=Manjari|Roboto+Condensed&display=swap');

/* header: font-family: 'Manjari', sans-serif; */
/* body: font-family: 'Chathura', sans-serif; */

:root {
--dark-teal: rgba(37, 64, 91, 1);
--light-teal: rgba(111, 146, 155, 1);
--grey: rgba(119, 119, 114, 1);
--pink: rgba(245, 156, 139, 1);
--white: rgba(243, 239, 237, 1);
--offwhite: rgba(243,239,232,1);
}

body {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5% 90% 5%;
  align-items: center;
  justify-content: center;
  font-family: 'Chathura', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;
  background-image: linear-gradient(to right,rgb(243, 151, 167), rgb(255, 203, 143))
}

.container {
  grid-row: 1/2;
  grid-column: 2/3;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 1%;
}

h1 {
  font-family: 'Manjari', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;
  font-size: 2em;
  font-style: bold;
  color: var(--dark-teal)
}

h2 {
  font-family: 'Manjari', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;
  font-size: 1.3em;
  color: var(--dark-teal);
  font-weight: bold;
}

.date {
  color: var(--light-teal)
}

@media only screen and (max-width: 500px) {
  body {
  
  display: flex;
 flex-direction: column;
 flex-wrap: wrap;
align-items: center;
justify-content: center;
  }
  .container {
    width: 100%;
    border-radius: 0%;
  }
}



