/* Coolors Exported Palette - coolors.co/25405b-6f929b-777772-f59c8b-f3efed */

/* HSL */
$color1: hsla(210%, 42%, 25%, 1);
$color2: hsla(192%, 18%, 52%, 1);
$color3: hsla(60%, 2%, 46%, 1);
$color4: hsla(10%, 84%, 75%, 1);
$color5: hsla(20%, 20%, 94%, 1);

/* RGB */
$color1: rgba(37, 64, 91, 1);
$color2: rgba(111, 146, 155, 1);
$color3: rgba(119, 119, 114, 1);
$color4: rgba(245, 156, 139, 1);
$color5: rgba(243, 239, 237, 1);