/* Coolors Exported Palette - coolors.co/8c8090-587155-3d4d56-cbbb9b-282d29 */

/* HSL */
$color1: hsla(285%, 7%, 53%, 1);
$color2: hsla(114%, 14%, 39%, 1);
$color3: hsla(202%, 17%, 29%, 1);
$color4: hsla(40%, 32%, 70%, 1);
$color5: hsla(132%, 6%, 17%, 1);

/* RGB */
$color1: rgba(140, 128, 144, 1);
$color2: rgba(88, 113, 85, 1);
$color3: rgba(61, 77, 86, 1);
$color4: rgba(203, 187, 155, 1);
$color5: rgba(40, 45, 41, 1);